@font-face {
    font-family: "iconfont";
    src: url("./fonts/iconfont.woff2") format("woff2"),
        url("./fonts/iconfont.woff") format("woff"),
        url("./fonts/iconfont.ttf") format("truetype");
        
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-sousuoxiao:before {
    content: "\e8d6";
}

.icon-fanhui:before {
    content: "\e600";
}

.icon-guanbi:before {
    content: "\eaf2";
}
.icon-lajitong:before {
    content: "\e716";
    font-size: 2rem;
}